@font-face {
    font-family: heading;
    src: url("../fonts/BebasNeue-Regular.ttf");
}

// @font-face {
//     font-family: paragraph;
//     src: url('../fonts/Lexend-VariableFont_wght.ttf');
// }

@font-face {
    font-family: para;
    src: url("../fonts/Quicksand-VariableFont_wght.ttf");

}

// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url("../style/common/header.scss");
@import url("../style/pages/landing_page/index.scss");
@import url("./pages/blockchain/blockchain.scss");
@import url("../style/pages/blog/blogsection.scss");
@import url("../style/pages/blog/single_blog.scss");
@import url("./pages/not_found.scss");
@import url("./pages/aboutUs/aboutUs.scss");
@import url("./pages/contactUs/contactUs.scss");
@import url("./pages/ourTeam/ourTeam.scss");
@import url("./pages//games/unityGame/unityGame.scss");
@import url("./pages/nft/index.scss");

@import url("./pages/product/productWeb/productWeb.scss");
@import url("./pages/resources/resources.scss");

@import url("./pages/product/singleProduct/product_page.scss");
@import url("./pages/privacy/privacy.scss");
@import url("./pages/term_condition/term_condition.scss");
@import url("./pages/career/career.scss");
@import url("./pages/particle.scss");
@import url("./pages/siteMap.scss");

* {
    // font-family: paragraph;
    // font-family: 'Quicksand', sans-serif;
    font-family: para;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
li,
ol,
a,
p {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

hr {
    margin: 1px 0px;
    color: #b7b7b7;
}

a {
    color: #000545;
    transition: all 0.5s ease;
}

a:hover {
    color: #36bbc2;
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

.h1_title {
    font-size: 4rem;
    color: #000545;
    font-family: heading;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.h2_title {
    font-family: heading;
    font-size: 3rem;
    color: #000545;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.h3_title {
    font-family: heading;
    font-weight: 500;
    font-size: 24px;
    color: #000545;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.h4_title {
    font-family: heading;
    font-weight: 500;
    font-size: 1.4rem;
    color: #000545;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.h5_title {
    font-family: heading;
    font-weight: 500;
    font-size: 18px;
    color: #000545;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.h6_title {
    font-family: heading;
    font-weight: 500;
    font-size: 16px;
    color: #000545;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

p {
    // font-family: paragraph;
    font-weight: 400;
    font-size: 16px;
    // color: #000;
    color: #47576a;
    letter-spacing: 0.7px;
    margin-bottom: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.btn:focus {
    box-shadow: none !important;
}

.input_field {
    border: none !important;
    background: transparent !important;
    // border-bottom: 2px solid orange !important;
    border-bottom: 1px solid #47576a !important;
    border-radius: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    // margin-bottom: 50px !important;
    &:focus {
        box-shadow: none !important;
    }
}

.warning {
    display: flex;
    justify-content: center;

    b {
        display: flex;
        align-items: center;

        svg {
            color: #ffb600;
            font-size: 2em;
            margin-right: 0.5em;
        }
    }
}

.modal-backdrop.show {
    opacity: 1;
    background: #ffffff4a;
    backdrop-filter: blur(4px);
}

textarea {
    resize: none;
}

.spin_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.partner_image_EMPTY {
    width: 80px;
    height: 80px;
    background-color: #ededed;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
        filter: blur(5px);
        content: "";
        position: absolute;
        top: 28%;
        left: 0%;
        width: 200%;
        height: 30px;
        background-color: #f4f4f4;
        box-shadow: 0px 0px 20px #ececec;
        transform: rotate(45deg);
        transition: all 0.5s;
        animation: loadData 1s linear infinite;
        z-index: 1;

        @keyframes loadData {
            0% {
                left: -100%;
            }

            100% {
                left: 120%;
            }
        }
    }
}

.EMPTY_loader_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .EMPTY_loader_subhead {
        border-radius: 4px;
        width: 100px;
        height: 20px;
        background-color: #ececec;
        margin-bottom: 1em;
    }

    .EMPTY_loader_head {
        border-radius: 4px;
        width: 300px;
        height: 30px;
        background-color: #ececec;
        margin-bottom: 1em;
        margin-right: 7em;
    }

    .para_EMPTY {
        border-radius: 4px;
        margin-bottom: 1em;
        width: 500px;
        height: 20px;
        background-color: #ececec;
    }

    .EMPTY_btn {
        background-color: #ececec;
        width: 100px;
        height: 40px;
        border-radius: 4px;
        border: none;
    }
}

.EMPTY_loader_img {
    border-radius: 4px;
    width: 600px;
    height: 400px;
    background-color: #ececec;
    position: relative;
    overflow: hidden;

    &::before {
        filter: blur(5px);
        content: "";
        position: absolute;
        top: 28%;
        left: 0%;
        width: 200%;
        height: 80px;
        background-color: #f4f4f4;
        box-shadow: 0px 0px 20px #ececec;
        transform: rotate(45deg);
        transition: all 0.5s;
        animation: loadData 1s linear infinite;
        z-index: 1;

        @keyframes loadData {
            0% {
                left: -100%;
            }

            100% {
                left: 120%;
            }
        }
    }
}

// ============================== rectangle_shape ==============================
.rectangle_shape {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholder;
    animation-timing-function: linear;
    background: #ededed;
    background: linear-gradient(45deg, #ededed 8%, #f4f4f4 18%, #ededed 33%);
    background-size: 1200px 100px;
    min-height: 100px;
    width: 150px;
    margin: 5px 0 5px 0;
    border-radius: 3px;
    margin: 5px auto;
}

.active {
    color: orangered;
}

// ================== scrollbar =====================
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #36bbc2;
    border-radius: 25px;
}

button {

    .item {
        overflow: hidden;
        height: 30px;

        .sl-spinner2 {
            height: 30px;
        }
    }
}

.banner-from-wrap {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;

    .h3_title {
        text-align: center;
        padding-bottom: 20px;
    }

    .input_field {
        margin-bottom: 10px;
    }

    button {
        margin-top: 20px;
        background: transparent;
        padding: 10px 45px;
        border: 1px solid #36bbc2;
        position: relative;
        overflow: hidden;
        transition: all 0.2s;
        z-index: 0;
        border-radius: 25px;
        color: #000;
        width: 100%;
        // width: 100%;

        &:hover {
            color: #fff;
            border-color: #36bbc2;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: -10px;
            width: 10px;
            height: 10px;
            background-image: linear-gradient(45deg, #79dee3, #36bbc2, #79dee3);
            border-radius: 50%;
            border: 1px solid #36bbc2;
            transition: all 0.2s;
            z-index: -1;
        }

        &:hover::before {
            transform: scale(160);
        }

    }

    .btn:hover {
        background-color: #36bbc2;
    }

    .btn-primary:hover {
        border-color: #36bbc2;
        color: #fff;
    }
}

.mobile_div {
    display: flex;

    .form-select {
        background-color: transparent;
        height: 40px;
        width: 140px;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.btn:disabled {
    background-color: #36bbc2;
    border: 1px solid #36bbc2;
}

@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
    .congrats_popup {
        text-align: center;
        position: absolute;
        z-index: 9999999999;
        top: 0px;
        background: rgba(120, 119, 119, 0.284);
        height: 100vh;
        width: 100%;
        margin: 0px auto;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .svg-container {
        background: #fff;
        padding: 20px;
        border-radius: 5px;

        p {
            font-weight: 600;
            margin-top: 10px;
        }
    }

    .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .success {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
    }
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }

    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {

    0%,
    100% {
        stroke-opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes placeholder {
    0% {
        background-position: -600px 0
    }

    100% {
        background-position: 600px 0
    }
}

// ============================== rectangle_shape ==============================
@media screen and (max-width: 1199px) {
    .banner-from-wrap {
        .input_field::placeholder {
            font-size: 10px;
        }
    }

}

@media screen and (max-width: 911px) {
    .banner-from-wrap {
        .input_field::placeholder {
            font-size: 14px;
        }
    }
}


@media screen and (max-width: 767px) {
    // .h2_title {
    //     font-size: 2rem;
    // }

    // .h3_title {
    //     font-size: 16px;
    // }

    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .banner-from-wrap {
        .input_field::placeholder {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 575px) {
    p {
        font-size: 14px;
    }

    .h2_title {
        font-size: 2em;
    }

    .h3_title {
        font-size: 1.5em;
    }

    .h4_title {
        font-size: 1em;
    }

    .banner-from-wrap {
        margin-top: 20px;
    }

    .banner-from-wrap {
        .input_field::placeholder {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 360px) {
    .banner-from-wrap {
        .input_field::placeholder {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 320px) {
    .banner-from-wrap {
        .input_field::placeholder {
            font-size: 8px;
        }
    }
}