.about-accordion-wrap{
    padding: 4em 0em;

    .about-accordion-title{
        text-align: center;
        margin-bottom: 2em;
    }

    .accordion-button:focus{
        box-shadow: none;
    }

    .accordion-body{
        background-color: #fafafb;
    }

    .accordion-button:not(.collapsed){
        color: #ffffff;
        background-color: #36ccb2;
    }

    .accordion-button:not(.collapsed)::after{
        filter: invert(1) brightness(10);
    }
}