.visionMission-wrap {
    padding: 50px 0px;
    .row{
        align-items: center;
    }
    .visionMission-list {
        .h3_title {
            color: orange;
            span{
                color: #000;
            }
        }

        p {
            padding-bottom: 20px;
        }

        ul {
            li {
                position: relative;

                &::after {
                    position: absolute;
                    content: "\2713";
                    top: 0px;
                    left: -15px;
                    color: orange;
                }
            }
        }
    }

}
@media screen and (max-width: 575px) {
    .visionMission-list{
        margin-top: 20px;
    }
    .visionMission-wrap{
        padding: 20px 0px;
    }
    .visionMission-wrap .visionMission-list p{
        padding: 0px;
    }
}