.benefit_section {
    .head {
        text-align: center;
    }
    .box{
        box-shadow: rgb(17 17 26 / 10%) 0px 0px 16px;
        margin: 1em 0em;
        padding: 2em;
        border-radius: 5px;
    }
}
